.div1{
    height: 200px;
    background-color: lightgreen;
}

.div2{
    background-color: lightgoldenrodyellow;
    height: 30%;
}
.div3{
    background-color: lightgray;
    height: 10%;
    margin-left: 10%;
}